<%- include ('../partials/header') %>
<div class="row d-flex justify-content-center mt-5 mb-3">
    <%- include ('../partials/messages') %>
</div>
<div class="d-flex justify-content-center p-1 mt-5 mb-5">
    <div class="card col-lg-6 col-md-8 col-sm-10 col-xs-12" id='registerform'>
        <div class="card-body">
            <h4 class="card-title text-center mt-4">
                Updating student's information
            </h4>
            <form action="/<%= student._id %>?_method=PUT"
                  method='post' class='form-group'>
                <div class="form-group">
                    <input type="text" class="form-control" 
                           value="<%= student.name %>" 
                           name="name" placeholder="Student Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" 
                           value="<%= student.email %>" 
                           name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control"
                           name="password" placeholder="Password"
                           required minlength="6" value="<%= student.password %>">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" 
                           value="<%= student.id %>" 
                           name="sid" placeholder="Student ID">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" 
                           value="<%= student.gender %>"
                           name="gender" placeholder="Gender">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" 
                           value="<%= student.rollno %>"
                           name="rollno" placeholder="Roll Number">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control" 
                           value="<%= student.age %>"
                           name="age" placeholder="Age">
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="form-group mr-2">
                        <input type="submit" class="btn btn-outline-primary" 
                               id='editstudent' value="Edit">
                    </div>
                    <div class="form-group ml-2">
                        <a href="javascript:history.back()" 
                           class="btn btn-outline-secondary" id='cancelediting'>
                            Cancel
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include ('../partials/footer') %>